body{
background-image:url(https://cdn.wallpapersafari.com/77/92/kcVem5.jpg);
background-repeat:no-repeat;
background-size:100%;
width:100%
}
.input
{background:transparent;
margin-bottom:20px;
border:none;
border-bottom:1px solid #999}
.input1
{background:transparent;
margin-bottom:20px;
border:none;
border-bottom:1px solid #999}